@import url(reset.css);

@font-face {
    font-family: Geomanist;
    src: url("../assets/fonts/geomanist-regular-webfont.ttf")
}

@font-face {
    font-family: Geomanist;
    src: url("../assets/fonts/hinted-Geomanist-Bold.ttf");
    font-weight: bold;
}

:root {
    --red: #D3265A;
    --yellow: #F4BC28;
    --purple: #490B3D;
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

.main {
    height: 95vh;
    width: 100vw;
    font-family: Geomanist, 'sans-serif';
}

.game-container {
    height: 100%;
    width: 100%;
    flex-direction: row;
}

.title-container {
    height: 80px;
    width: 100%;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-content: center;
}

.title {
    height: 80px;
    width: 100%;
    font-family: Geomanist, 'sans-serif';
    font-weight: bold;
    font-size: 4em;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 10px;
}

.title p {
    line-height: 80px;
    margin: 0 5px;
}

.tic {
    color: var(--purple);
}

.tac {
    color: var(--red);
}

.toe {
    color: var(--yellow);

}

.menu-container {
    height: 90%;
    width: 300px;
    position: fixed;
    top: 0;
    padding-top: 10px;
    z-index: 2;
    display: inline-flex;
    flex-direction: column;
    background-color: #46748e;
    border-bottom-right-radius: 70px;
}

.menu-title {
    height: 50px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.8em;
    color: #FFF;
    font-weight: lighter;
}

.menu-element:first-of-type {
    margin-top: 50px;
}

.menu-element {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
}

#restart-game {
    width: 60%;
    border: none;
    border-radius: 15px 15px 0 15px;
    background-color: var(--red);
    color: #FFF;
    font-family: inherit;
    letter-spacing: 1px;
    text-align: center;
    font-size: 1.2em;
    transition: all 0.2s ease-in;
}

#restart-game:hover {
    cursor: pointer;
    background-color: #d54771;
}

.player-card-container {
    width: 100%;
    height: 120px;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.player-card {
    width: 75%;
    height: 100%;
    background-color: #FFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.player-name {
    width: 100%;
    height: 20px;
    margin: 5px 0;
    font-size: 1.2em;
}

.player-card input {
    width: 60%;
    align-self: center;
}

.board-container {
    height: 100%;
    width: 100%;
    padding-top: 35px;
    position: fixed;
    z-index: 1;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-content: center;
}

.board {
    height: 600px;
    width: 600px;
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.square {
    height: 100%;
    width: 100%;
    border: 2px solid black;
    background-color: var(--yellow);
    transition: all 200ms ease-in-out;
    font-size: 12em;
    display: flex;
    justify-content: center;
    align-content: center;
}

.square img {
    align-self: center;
    width: 85%;
    height: 85%;
}

.square:hover {
    background-color: #c29927;
}


.winner {
    position: fixed;
    z-index: 3;
    margin-top: 70px;
    background-color: rgba(79, 78, 78, 0.2);
    width: 200px;
    height: 40px;
    font-size: 1.5em;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
}
